Source: xenedu-hpraid
Section: misc
Priority: extra
Maintainer: Simon Cavey <simon.cavey@crdp.ac-caen.fr>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://xenedu.crdp.ac-caen.fr/
#Vcs-Git: git://git.debian.org/collab-maint/xenedu-hpraid.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/xenedu-hpraid.git;a=summary

Package: xenedu-hpraid
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xenedu-base (>> 0.8.1), hpacucli, postfix, bsd-mailx
Description: Adding tools for HP RAID management and check
 this package provide scripts to check RAID configuration
  on HP server RAID
  
  
