Source: xenedu-base
Section: misc
Priority: extra
Maintainer: jLCF <jean-luc.chretien@@ac-caen.fr>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://xenedu.crdp.ac-caen.fr

Package: xenedu-base
Architecture: all
Depends: ${misc:Depends}, xen-linux-system, xen-tools, bridge-utils, debootstrap, lvm2, ssh, screen, cron-apt, curl, ipcalc, xfsprogs
Description: xenedu-base update post installation xen config
 post installation xen config with harward spécification
 xenedu-base configure xen with bridged network on all interfaces
 and in allow to bridge on diffrent vlan
