Source: xenedu-windomus
Section: misc
Priority: extra
Maintainer: root <simon.cavey@crdp.ac-caen.fr>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Homepage: http://xenedu.crdp.ac-caen.fr>

Package: xenedu-windomus
Architecture: all
Depends: ${misc:Depends}, xenedu-base, genisoimage
Description: XenEdu support for windows domU
 this package contain scripts for Windows virtualization
 on xenedu server.
